{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "react/prop-types": 0,
    "linebreak-style": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "lf"
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  }
}
